export SECRET_KEY=swordfish
export DB_ENGINE=postgres
export PGHOST=swordfish-database
export PGDATABASE=swordfish
export PGPORT=5432
export PGSSLMODE=disable 
export PGUSER=postgres
export PGPASSWORD=postgres
